PORT=XXXX
MONGO_DB=your_mongodb_connection_string
JWT_SECRET=your_jwt_secret

RESEND_API_KEY=your_resend_api_key
EMAIL_FROM=English Kafe <no-reply@example.com>

CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

BACKEND_URL=XXXXXX
FRONTEND_URL=XXXXXX
FRONTEND_URL_PROD=XXXXXXXXXXX
ADMIN_URL_PROD=XXXXXXXXX

TRUST_PROXY=true