PORT=XXXX
MONGO_DB=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
JWT_SECRET=XXXXXXXX

RESEND_API_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
EMAIL_FROM=XXXXXXXXXXXXX

CLOUDINARY_CLOUD_NAME=XXXXXXXX
CLOUDINARY_API_KEY=XXXXXXXX
CLOUDINARY_API_SECRET=XXXXXXXXXXXXX
